
<html lang="en">
  <body>
    <div class="header">
      <div class="center jumbotron">
        <h1>Moods</h1>
      </div>
    </div>
    <div class="messages">
      <div class="container" >
        <% @messages.each do |message| %>
          <div class="message" >
            <p class="content" id="index" ><%= message.content %></p>
            <p class="color_hex" id="index" ><%= message.color_hex %></p>
            <p class="time" id="index"><%= message.created_at %></p>
            <div class="time" id="index">
              <%= link_to "View Message", message_path(message.id), id: 'links' %>
            </div>
            <hr>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>


