
<html lang="en">
  <body>
    <div class="header">
      <div class="center jumbotron">
        <h1>Users</h1>
      </div>
    </div>
    <%= will_paginate %>
    <div class="users">
      <div class="container" >
        <% @users.each do |user| %>
          <div class="user" id="index" >
            <p>
             <span>Name: </span><%= user.name %>
            </p>
            <p class="time">
              <span>User Since: </span><%= user.created_at %>
            </p>
            <hr>
          </div>
        <% end %>
        <%= will_paginate %>
      </div>
    </div>
  </body>
</html>
