<!DOCTYPE html>

<html lang="en">
  <body>
    <div class="center jumbotron">
        <h2>How ya feeling champ?</h2>
          <p>
            <br/>
              What's you mood today?
              <br/>Keep track of how you feel
              in just a few words.
          </p>
    </div>
  <div>
    <%= link_to "Sign up here!", signup_path, id: 'links' %>
  </div>
  </body>
</html>