<!DOCTYPE html>

<html lang="en">
  <body>
    <div class="center jumbotron">
        <h2>how ya feeling champ?</h2>
          <p>
            <br/>
              whats you mood today?
              <br/>keep track of how you are feel
              in just a few words.
          </p>
    </div>
  </body>
  <body>
    <div>
      <%= link_to "Click to track a new mood!", messages_new_path, id: 'links' %>
    </div>
  </body>
</html>