<footer class="footer">
  <small>
    Mood App by Micah DePetro
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Sign Up", signup_path %></li>
    </ul>
  </nav>
</footer>