<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to 'mood', root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Entries', messages_path %></li>
        <li><%= link_to 'New Entry', messages_new_path %></li>
      </ul>
    </nav>
  </div>
</header>